@import url("bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Questrial');


.alert-danger {
    background-color: #690000;
    border-color: #b60000;
    color: #ebebeb;
}
table a:not(.btn), .table a:not(.btn) {
    color: silver;
    text-decoration: underline;
}
.table-hover > tbody > tr:hover {
    background-image: url(/vlra.jpg);
    background-size: 40%;
    background-color: lightslategrey;
    background-blend-mode: multiply;
}
.list-group-item {
    padding: 10px 14px;
}
        #coinName{
            text-transform: capitalize;
        }
		#coinIcon{
            text-transform: capitalize;
			width: 1.3em;
			height: 1.3em;
			display: inline-block;
			vertical-align: middle;
			color: white;
			border: 2px solid white;
			border-radius: 50%;
			text-align: center;
			margin-top: -4px;
        }
        body {
            padding-top: 65px;
            padding-bottom: 80px;
            overflow-y: scroll;
        }

        #loading{
            font-size: 2em;
        }
        .stats {
            margin-bottom: 10px;
            margin-top: 15px;
			font-size: 1em;
        }
        .stats:last-child{
            width: auto;
        }
        .stats > h3 > i{
            font-size: 0.80em;
            width: 21px;
        }
        .stats > div{
            padding: 5px 0;
			font-size: 0.85em;
        }
        .stats > div > .fa {
            width: 25px;
        }
        .stats > div > span:first-of-type{
            font-weight: bold;
        }
        #stats_updated{
            opacity: 0;
            height: 40px;
           line-height: 47px;
            color: #dadada;
            font-size: 2.7em;
			position: absolute; 
			padding-left:1.25%;
			top: 0%;
        }
        footer{
            position: relative;
            bottom: 0;
            width: 100%;
			margin: 30px 0;
        }
		
		table td {
			font-family: 'Questrial', sans-serif; 'arial', sans-serif;
			font-size: 13px;
			font-variant: all-small-caps;
			color: dodgerblue;
	}
		
		.scrollup{
			opacity:0.3;
			position:fixed;
			bottom:50px;
			right:100px;
			display:none;			
			text-align: center;
			line-height: 50px;
			font-size: 50px;
			-webkit-transition: color 200ms ease-in-out;
			-moz-transition:    color 200ms ease-in-out;
			-o-transition:      color 200ms ease-in-out;
			-ms-transition: 	color 200ms ease-out;
			display: none;
			overflow: hidden;
		}
		
		.btn-default {
			background-color: #002bc2e6;
		}
		
		#block.hash, #transaction.hash {
			word-break: break-all;
		}
		
		.panel-default>.panel-heading .badge {
			background-color: #000000;
		}
		
	.form-control {
		 display:block;
		 width:100%;
		 height:38px;
		 padding:8px 12px;
		 font-size:13px;
		 font-family: 'Questrial', sans-serif; 'lucida console', monospace;
		 line-height:1.42857143;
		 color:#ddd;
		 background-color:#242936;
		 background-image:none;
		 border:1px solid #202020;
		 border-radius:4px;
		 -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
		 box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
		 -webkit-transition:border-color ease-in-out 1.5s,-webkit-box-shadow ease-in-out 1.5s, background-color ease-in-out 2s;
		 -o-transition:border-color ease-in-out 1.5s,box-shadow ease-in-out 1.5s, background-color ease-in-out 2s;
transition: border-color ease-in-out 1.5s,box-shadow ease-in-out 1.5s, background-color ease-in-out 2s;
	}
	.form-control:focus {
		 border-color:#353eff66;
		 outline:0;
	 -webkit-box-shadow:1px 0px 18px 3px rgba(0, 3, 252, 0.81);
	 box-shadow:1px 0px 18px 3px rgba(0, 3, 252, 0.81);
	background-color: #000000;
	}
	
	.form-control::-moz-placeholder {
	 color:#cccc;
	 opacity:0.8;
	}
	.form-control:-ms-input-placeholder {
	 color:#cccccc
	 opacity:0.8;
	}
	.form-control::-webkit-input-placeholder {
	 color:#cccccc
 	 opacity:0.8;
	}
		
		.chart-wrapper {
			background-color: #000000;
		}
		
		.navbar .theme-switch {
			background: transparent;
			border: none;
			line-height: 21px;
			padding-top: 9.5px;
			padding-bottom: 9.5px;
		}
		
		.nav-pills>li>a {
			padding: 10px 10px;
		}
	
		.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		    color: white;
		    background-color: #242936;
		    border: ridge 1px #0000ffb3;
		}


		.panel-heading2 {
		   color: aliceblue;
		   padding: 10px 15px;
		   border: 18px outset goldenrod;
		   background: -moz-linear-gradient(287deg, #000000 0%, #080040 63%, #0B00E6 76%, #0A00E7 77%, #0000ff 89%, #0000ff 100%);
		   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(63%, #080040), color-stop(76%, #0B00E6), color-stop(77%, #0A00E7), color-stop(89%, #0000ff), color-stop(100%, #0000ff));
		   background: -webkit-linear-gradient(287deg, #000000 0%, #080040 63%, #0B00E6 76%, #0A00E7 77%, #0000ff 89%, #0000ff 100%);
		   background: -o-linear-gradient(287deg, #000000 0%, #080040 63%, #0B00E6 76%, #0A00E7 77%, #0000ff 89%, #0000ff 100%);
		   background: -ms-linear-gradient(287deg, #000000 0%, #080040 63%, #0B00E6 76%, #0A00E7 77%, #0000ff 89%, #0000ff 100%);
		   background: linear-gradient(163deg, #000000 0%, #080040 63%, #0B00E6 76%, #0A00E7 77%, #0000ff 89%, #0000ff 100%);
		   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0000ff',GradientType=0 );
		}
		
		code {
		    padding: 2px 4px;
		    font-size: 90%;
		    color: deepskyblue;
		    background-color: #383838;
		    border-radius: 21px;
		}
			.drglinks a:hover {
	color: deepskyblue;
}


.panel-default > .panel-heading {
    color: #000000;
    background-color: #f5f5f5;
    border: none;
}

.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
    background-color: #ad9b3d; }
.table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > th {
    background-color: darkkhaki;
    color: black;}
